@font-face {
  font-family: pokemonFont;
  src: url('fonts/pixelgamer.ttf') format('truetype');
}

:root {
  --grey: #5e5a58;
  --red: #ee3135;
  --pink: #ff98a4;
}

/* * {
  overflow: hidden;
} */

html {
  font-size: 130%;
}

body {
  font-family: pokemonFont, monospace !important;
  color: var(--grey);
  background-size: 70px 70px;
  background-image: linear-gradient(
      to right,
      rgb(213, 213, 213) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(213, 213, 213) 1px, transparent 1px);
}

img {
  image-rendering: pixelated;
}

.dotted-border {
  border-top: 3px dotted grey;
}

header {
  background: linear-gradient(
    90deg,
    rgba(147, 16, 36, 1) 0%,
    rgba(238, 49, 53, 1) 10%,
    rgba(238, 49, 53, 1) 90%,
    rgba(147, 16, 36, 1) 100%
  );
  border-bottom: 5px solid var(--grey);
}

header h1 {
  text-shadow: 0.05rem 0.05rem var(--grey), -0.05rem 0.05rem var(--grey),
    -0.05rem -0.05rem var(--grey), 0.05rem -0.05rem var(--grey);
}

.bottom {
  height: 50vh;
}

.name-plate {
  background-color: var(--red);
}

.genus {
  border-top: 0.3rem solid var(--pink);
}

.info,
.genus {
  text-shadow: 0.05rem 0.05rem var(--grey), -0.05rem 0.05rem var(--grey),
    -0.05rem -0.05rem var(--grey), 0.05rem -0.05rem var(--grey);
}
